.header {
  background-color: #00bff3;
  min-height: 104px;
  color: white; }
  .header .content {
    max-width: 1042px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center; }
    .header .content img,
    .header .content p {
      display: inline-block;
      font-size: 16px;
      margin: 0; }
    .header .content .name p {
      display: inline-block;
      width: 150px;
      text-align: center;
      padding-top: 7px; }
    .header .content .callback p {
      border-bottom: 2px dotted white;
      padding: 16px 0 0 0px; }
    .header .content .tel {
      font-size: 30px;
      padding-top: 7px; }
    .header .content .social {
      padding-top: 10px; }
      .header .content .social a {
        padding-left: 10px; }

.banner {
  max-width: 1042px;
  margin: 0 auto;
  background-image: url(../images/tour.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .banner .wrapper {
    padding: 274px 0 50px 30px; }
    .banner .wrapper .code {
      height: 234px;
      width: 234px;
      background-color: rgba(255, 245, 0, 0.7);
      border-radius: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center; }
      .banner .wrapper .code p {
        font-size: 25px;
        margin: 0;
        color: black; }
      .banner .wrapper .code .text {
        font-size: 14px; }
      .banner .wrapper .code .promocode {
        color: white;
        background-color: black; }

.rating {
  max-width: 1042px;
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .rating .left .first-child p {
    font-size: 35px;
    color: black;
    display: inline-block; }
    .rating .left .first-child p:first-child {
      border-bottom: 2px solid #ccc; }
    .rating .left .first-child p:last-child {
      margin-left: 30px;
      font-weight: 700; }
  .rating .left .first-child div {
    display: inline-block;
    margin-left: 20px; }
  .rating .left .second-child .blue p {
    background-color: #00bff3;
    padding: 10px 10px; }
  .rating .left .second-child div {
    display: inline-block;
    text-align: left;
    box-sizing: border-box;
    padding: 10px; }
    .rating .left .second-child div p {
      margin: 0;
      font-weight: 700; }
    .rating .left .second-child div p:first-child {
      font-size: 12px;
      color: #777; }
    .rating .left .second-child div p:last-child {
      font-size: 18px;
      color: black; }
  .rating .left .second-child .response p:first-child {
    font-size: 14px;
    font-weight: 700;
    color: black; }
  .rating .left .second-child .response p:last-child {
    font-size: 14px;
    color: #777; }
  .rating .right {
    margin-top: -60px;
    padding-right: 100px; }
    .rating .right p:first-child {
      font-size: 100px;
      color: #777;
      line-height: 1; }
    .rating .right p {
      width: 165px;
      font-size: 30px;
      color: black; }
  .rating-star {
    unicode-bidi: bidi-override;
    direction: rtl; }
  .rating-star > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 35px;
    cursor: pointer; }
  .rating-star > span:hover:before, .rating-star > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: #ffc20e; }

.flex {
  max-width: 1042px;
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap; }
  .flex .part {
    max-width: 500px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700; }
    .flex .part div {
      display: inline-block; }
    .flex .part img {
      max-width: 100%; }
    .flex .part .title p:last-child {
      font-size: 14px;
      color: #777; }
    .flex .part .title p:first-child {
      border-bottom: 2px solid #ccc; }
    .flex .part .price {
      float: right; }
      .flex .part .price p {
        color: black;
        font-size: 50px;
        line-height: 1; }
      .flex .part .price .clear {
        clear: both; }
      .flex .part .price #cross {
        text-decoration: line-through;
        font-size: 20px;
        color: #777;
        text-align: right; }

.section h1 {
  margin-left: 150px;
  font-size: 50px; }
.section .info {
  max-width: 780px;
  margin-left: 150px; }
  .section .info p {
    margin-bottom: 15px; }
  .section .info .first {
    font-size: 16px;
    color: black;
    font-weight: 700; }
  .section .info .fifth {
    font-size: 16px;
    color: black;
    font-weight: 700; }
  .section .info .table {
    overflow-x: auto; }
    .section .info .table td,
    .section .info .table th {
      padding: 10px; }
    .section .info .table th {
      background-color: #ebebeb; }
    .section .info .table tr:first-child {
      border-bottom: 2px solid #777; }
    .section .info .table tr {
      border-bottom: 2px solid #ebebeb; }
  .section .info ul {
    padding-left: 10px; }
    .section .info ul li:before {
      content: "-"; }
    .section .info ul li {
      list-style: none; }
.section .spec {
  max-width: 1042px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .section .spec-first {
    max-width: 750px; }
  .section .spec-second {
    max-width: 250px; }
    .section .spec-second p:first-child {
      font-size: 100px;
      color: #777;
      line-height: 1; }
    .section .spec-second p {
      font-size: 30px; }
    .section .spec-second p:last-child {
      font-size: 20px; }
  .section .spec .third {
    font-size: 22px;
    color: black;
    font-weight: 700; }
  .section .spec .fourth {
    margin-left: 27px;
    border-left: 4px solid #33ccf5;
    padding: 10px;
    background-color: #f0fbfe; }

.footer {
  max-width: 1042px;
  margin: 0 auto 35px;
  padding-bottom: 20px; }
  .footer hr {
    border-top: 1px solid black; }
  .footer .social-footer {
    float: right; }
    .footer .social-footer a {
      padding-left: 10px; }
  .footer .fl {
    float: left; }
    .footer .fl span {
      color: #00A2FF; }
  .footer .result {
    color: red;
    font-size: 18px; }

@media only screen and (max-width: 776px) {
  .banner .wrapper {
    padding: 274px 0 50px 30px;
    margin: 0 auto;
    width: 282px; }

  .section h1 {
    margin-left: 10px;
    font-size: 40px; }
  .section .info {
    margin-left: 10px; }
  .section .spec-second {
    text-align: center;
    max-width: none; }

  .footer {
    text-align: center; }
    .footer .social-footer {
      float: none;
      margin: 0 auto; }

  .rating {
    flex-direction: column-reverse; }
    .rating .right {
      margin: 0px auto;
      padding-right: 0px; }
    .rating .left {
      margin: 0 auto; }
      .rating .left .first-child {
        text-align: center; }
        .rating .left .first-child p {
          display: block;
          margin: 0;
          padding: 0; }
          .rating .left .first-child p:last-child {
            margin: 0;
            padding: 0; }
        .rating .left .first-child div {
          display: block;
          margin: 0;
          padding: 0; }
      .rating .left .second-child div {
        display: block;
        margin: 10px;
        padding: 0;
        text-align: center; }

  .flex .part .price {
    float: none;
    display: block;
    text-align: center; }
    .flex .part .price #cross {
      text-align: center; } }
@media only screen and (max-width: 820px) {
  .header .content {
    display: block; }
    .header .content .name p {
      display: block;
      margin: 0 auto;
      padding: 10px 0; }
    .header .content .callback p {
      display: block;
      padding: 10px 0; }
    .header .content .tel p {
      padding: 0; } }
@media only screen and (min-width: 1400px) {
  .section .info {
    margin-left: 150px; } }

/*# sourceMappingURL=style.css.map */
